.div-homePage-wrapper{
  // margin-bottom: 30px;
  .div-pageWidgets-wrapper{
    display: inline-flex;
    width: 100%;
    position: relative;



    .div-choosePageSelect{
      right: 0px;
      position: absolute;
      .span-imgPerPage{
        margin-right: 20px;
      }
    }

  }
  .div-tagsGrid-wrapper{
    display: inline-flex;
    width: 100%;
    margin-bottom: 10px;
    .Card-tags{
      margin-top: 15px !important;
      margin-right: 20px;
      margin-bottom: 0px !important;
      min-height: 550px;
      .Dropdown-tags{
        width: 80%;
        margin: 10px auto;
      }
      .Button-clearSelectedTags{
        margin: 60px auto;
        width: 80%;

      }
      .Header-title{
        display: inline-flex;
      }
      .div-selectedTags-wrapper{
        padding: 8px;
        .Label-tags{
          border-radius: 5px !important;
          width: auto;
          margin: 3px;
          &:hover{
            background: #AFAFAF
          }

        }
        .Label-tags-triggered{
          background: #AFAFAF
        }
      }
    }
    .Card-imgs{
      width: 100%;
      .Grid-img-wrapper{
        margin-top: 20px;
        height: 100%;
        .div-contentLoader{
          margin: auto;
        }
        .div-noImage-placeholder{
          width: 100%;
          .span-noImages{
            display: block;
            width: auto;
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            text-align: center;
          }
        }
        .column{
          display: grid !important;
          .Card-img{
            width: 100%;
            height: 200px;
            .image{
              width: 200px;
              max-height: 200px;
              display: block !important;
              margin: auto !important;
            }
          }
        }
      }
    }
  }

}
.Modal-updateAvatar{
  width: auto !important;
  display: inline-flex;
  left: 60%;
  transform: translateX(-50%);
  .Table-imgDescContent{
    position: relative;
    display: grid;
    border-radius: 5px;
    padding: 20px;
    position: absolute;
    right: 100%;
    min-width: 350px;
    .TableCell-imgDescContent-key, .TableCell-imgDescContent-val{
      color: #FFFFFF;
      border-color: #FFFFFF;
      border-left-color: #FFFFFF !important;
      .Label-tags{
        margin: 5px;
      }
    }
    .TableCell-imgDescContent-key{
      display: flex;
    }
  }
}
